[submodule "theme"]
    path = theme
    url = https://github.com/nairobilug/pelican-alchemy.git
[submodule "plugins/pelican-bootstrapify"]
	path = plugins/pelican-bootstrapify
	url = https://github.com/ingwinlu/pelican-bootstrapify
